
current_player.heal(10, card.global_position + SystemParameters.CARD_CENTRE_OFFSET)
current_player.deal_damage(10, card.global_position + SystemParameters.CARD_CENTRE_OFFSET)
current_player.discard_played_cards()
    current_player.add_card(card.get_card_id())
    current_player.add_card(card.get_card_id())
    current_player.add_card(card.get_card_id())
    current_player.add_card(card.get_card_id())
    player.add_chips(-999, card.global_position + SystemParameters.CARD_CENTRE_OFFSET)
    other_player.add_chips(-999, card.global_position + SystemParameters.CARD_CENTRE_OFFSET)