current_player.heal(7, card.global_position + SystemParameters.CARD_CENTRE_OFFSET)
other_player.heal(7, card.global_position + SystemParameters.CARD_CENTRE_OFFSET)
current_player.take_damage(3, card.global_position + SystemParameters.CARD_CENTRE_OFFSET)
current_player.deal_damage(3, card.global_position + SystemParameters.CARD_CENTRE_OFFSET)
current_player.add_chips(50, card.global_position + SystemParameters.CARD_CENTRE_OFFSET)
current_player.add_chips(-39, card.global_position + SystemParameters.CARD_CENTRE_OFFSET)
current_player.take_damage(4, card.global_position + SystemParameters.CARD_CENTRE_OFFSET)
current_player.add_chips(-11, card.global_position + SystemParameters.CARD_CENTRE_OFFSET)
card.set_card_value(13)