current_player.add_card_to_draw_pile_at_random_position(166)
current_player.add_card_to_draw_pile_at_random_position(166)
current_player.add_card_to_draw_pile_at_random_position(166)
current_player.add_card_to_draw_pile_at_random_position(166)
current_player.add_card_to_draw_pile_at_random_position(166)
